// #choose-image {

//   border: 1px solid;

//   label {
//     height: 20vw;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   input[type='file'] { display: none; }
// }

#image-input {
	label {
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		}
	}
	input[type='file'] {
		display: none;
	}
}
